#s-9532194e-1769-4380-886c-56b1022b2138 > #backgroundBox {
  position: absolute;
}

#s-9532194e-1769-4380-886c-56b1022b2138 > #alignmentBox {
  position: relative;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-9532194e-1769-4380-886c-56b1022b2138 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
